/* Social Network! sidebar */
/* .toggler
{
	width: 0;
	height: 0;
    left: 1040px;
    position: relative;
}

#effect
{
	height: 195px;
    padding: 0.4em;
    position: absolute;
    top: 17px;
    width: 150px;
}

#effect h3
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 0 none;
    margin: 0;
    padding: 0;
    text-align: center;
} */

/* --------------------------------------------------- */
